.hide {
	display: none;
}

body {
	padding-top: 70px;
}

.alert {
	margin-top: 2em;	
}

.wide {
	width: 100%;
	margin-top: 3em;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.footer {
	float: right;
}

/* index.html */


.intro p {
  margin-top: 30px; 
}

.intro a {
  font-size: 1.1em;
}

/* start.html */

#game_type {
	max-width: 200px;
	margin: 0 auto;
}

#dim {
	font-size: 2em;
}

.carousel-inner > .item > img {
	margin: 0 auto;
	margin-top: 10px;
}

h3 .glyphicon {
	font-size: 0.7em;
}

h3 a:hover {
	text-decoration: none;
}

/* play.html */

#play-center {
	
	margin-top: 10px;
}