.hide {
	display: none;
}

body {
	padding-top: 70px;
}

.alert {
	margin-top: 2em;	
}

.wide {
	width: 100%;
	margin-top: 3em;
}

.no-top-margin {
	
	margin-top: 0;
}
.center {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	
	clear: both;
}

/* index.html */


.intro p {
  margin-top: 30px; 
}

.intro a {
  font-size: 1.1em;
}

/* new.html */


#settings-controls {
	margin-bottom: 40px;
}

#settings h1 {
	margin-bottom: 20px;
}

#settings h3 {
	margin-bottom: 20px;
}

#settings-gametype {
	max-width: 200px;
	margin: 0 auto;
}

#settings-dim {
	font-size: 1.5em;
}

#settings .carousel-inner > .item > img {
	margin: 0 auto;
	margin-top: 10px;
}

#settings h3 .glyphicon {
	font-size: 0.7em;
}

#settings h3 a:hover {
	text-decoration: none;
}

/* play.html */

#play-main #info{
	width: 200px;
	padding: 2px;
}
#play-side {
	height: 44px;
}


/* navbar */

.navbar-header {
	float: left;
}

.navbar-collapse {
	float: right;
	padding-left: 0;
	border: 0;
}

.navbar-collapse ul {
	margin: 0;
}

.navbar-collapse li {
	float: left;
}

.navbar-collapse li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
