a {
	cursor: pointer;
}

.hide {
	display: none;
}

body {
	padding-top: 70px;
}

.alert {
	margin-top: 2em;	
}

.wide {
	width: 100%;
	margin-top: 3em;
}

.no-top-margin {
	
	margin-top: 0;
}

.justify {
	text-align: justify;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.clear {
	
	clear: both;
}

.jumbotron p {
  margin-top: 30px; 
}

.no-dec {
	color: inherit;
	text-decoration: none;
}

.top-20 {
	margin-top: 20px;
}

.alert {
	margin-top: 0;
}

.margin-lr-10 {
	margin: 0 10px;
}

/* index.html */

.intro a {
  font-size: 1.1em;
  margin-bottom: 10px;
}

#req-js > .alert {
	margin: 0px;
	margin-bottom: 2em;
}

.btn-primary,
.btn-primary:focus {
	background-color: #999;
	border-color: #888;
}

.btn-primary.disabled {
	background-color: #ccc;
	border-color: #bbb;
}

.btn-primary:hover {
	background-color: #888;
	border-color: #777;
}

a.list-group-item.active, 
a.list-group-item.active:hover, 
a.list-group-item.active:focus {
	background-color: #f5f5f5;
	border-color: #ddd;
	color: #333;
	font-weight: bold;
}

/* new.html */

#settings {

	max-width: 670px;
	margin-left: auto;
	margin-right: auto;
}

#settings-controls {
	margin-bottom: 30px;
}

#settings-vs {
	font-size: 22px;
	font-weight: bold;
	margin-top: 50px;
	padding: 0px;
}

#settings-controls .carousel {

	margin-bottom: 10px;
}

#settings h3 {
	margin-top: 30px;
	margin-bottom: 20px;
}

#settings-gametype {
	margin: 0 auto;
	width: 150px;
}

#settings-dim {
	font-size: 1.5em;
}

#settings .carousel-inner > .item > img {
	margin: 0 auto;
	margin-top: 10px;
}

#settings h3 .glyphicon {
	font-size: 0.7em;
}

#settings h3 a:hover {
	text-decoration: none;
}

/* play.html */

#play-main, #play-side {

	margin-bottom: 10px;
}

#play-main #info {
	width: 200px;
	padding: 2px;
}


#canvas-container {
	margin: 0;
	padding-top: 10px;
	clear: both;
}

#notification {

	position: absolute;
	top: 50px;
	right: 21px;
	border: 5px solid black;
	background-color: white;
	font-weight: bold;
	padding: 10px;
	width: 120px;
	height: 60px;
	border-radius: 10px;
	opacity: 0;
}

#more-buttons {

	height: 34px;
	clear: both;
	margin-bottom: 20px;
}

#more-buttons a {

	float: left;
	margin-right: 5px;
}

#win-ratio {
	margin-bottom: 20px;
    position: relative;
}

#pl1-ratio {
        height: 100%;
        position: absolute;
        top: 0px;
        width: 50%;
        z-index: -1;
}

#pl2-ratio {
        height: 100%;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: -2;
}

#ratio-bar {
        display: block;
        height: 100%;
        max-height: 50px;
        width: 100%;
}

#win-counter {	

	padding-top: 10px;
	height: 44px;
	background-color: white;
	text-align: center;
	font: bold 2em Verdana;
}

#chat-panel {
	display: none;
}

#chat {

	padding: 5px;
}

#chat-messages {

	height: 120px;
	overflow: auto;
	margin-bottom: 5px;
}

#chat-messages table {

	margin-bottom: 0;
}

#chat-messages td:first-child {

	width: 30px;

}

/* navbar */

.navbar-header {
	float: left;
}

.navbar-collapse {
	float: right;
	padding-left: 0;
	padding-right: 5px;
	border: 0;
}

.navbar-collapse ul {
	margin: 0;
}

.navbar-collapse li {
	float: left;
}

.navbar-collapse li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* rules.html */

#rules-accordion {
	margin-bottom: 20px;
}

#rules-carousel-frame {
	margin: 0 0 15px 15px;
	width: 33%;
}

#rules-carousel {

	border: 1px solid black;
}

#rules-image-row {
	margin-top: 10px;
}

#rules-image-row img {
	width: 12%;
}

/* 404.html */

#img-404 {
	width: 100%;
}

/* credits.html */

#credits-text {

	margin: 20px 0;
}

.credits-cat {
	clear: both;
	font-weight: bold;
	float: left;
	width: 100px;
}

.credits-links {
	float: left;
	width: 100px;
}
